@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
html {
    min-height: 100%;
    background-size: cover;
    background-color: #520a3c; /* fallback incase gradient is not supported */
    background-image: linear-gradient(to bottom right,#6d0016,#551a43);
}

h1 {
color: #d4872e;
font-size: large;
font-family: 'Muli', sans-serif;
}
h2 {
color: #D4AF37;
font-family: 'Muli', sans-serif;
}
p {
color: rgb(255, 255, 255);
font-family: 'Muli', sans-serif;
}