@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    min-height: 100%;
    background-size: cover;
    background-color: #c44040; /* fallback incase gradient is not supported */
    background-image: linear-gradient(to bottom right,#c53652,#c44040);
}

h1, h2 {
color: #000000;
font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    font-size: 84px;
    margin: 0
}

hr.solid {
    border-top: 1px solid #000000;
  }

h2 {
    text-align: center;
    font-size: 36px;
    margin: 0
}